@model zadanie.ViewModels.ProductViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("index", "products", FormMethod.Get))
{
    <div style="margin-top:17px;">
        @{
            var grid = new WebGrid(
                                canPage: true,
                                rowsPerPage: Model.PageSize,
                                canSort: true,
                                ajaxUpdateContainerId: "grid");

            grid.Bind(Model.Products, rowCount: Model.TotalRecords, autoSortAndPage: false);
            grid.Pager(WebGridPagerModes.All);

            @grid.GetHtml(htmlAttributes: new { id = "grid" },
        fillEmptyRows: false,
        tableStyle: "table table-bordered table-hover",
        mode: WebGridPagerModes.All,
        columns: grid.Columns(
              grid.Column("ProductId", "ID"),
              grid.Column("ProductName", "ProductName", style: "col-lg-6"),
              grid.Column("QuantityPerUnit", "QuantityPerUnit", style: "col-lg-6"),
              grid.Column("UnitPrice", "UnitPrice", style: "col-lg-6"),
              grid.Column("UnitsInStock", "UnitsInStock", style: "col-lg-6"),
              grid.Column("UnitsOnOrder", "UnitsOnOrder", style: "col-lg-6"),
              grid.Column("Categories.CategoryName", "Category", style: "col-lg-2"),
              grid.Column(header: "Action", canSort: false, style: "action",
                format: @<text>
              @Html.Raw("<a data-modal='' href='/Products/Edit/" + item.ProductID + "' id='" + item.ProductID + "' title='Edit'> <span class='glyphicon glyphicon-edit'> </span> </a>")  </text>)
 ));
            }
    </div>
            }
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div id="modal-content">

                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {

        $.ajaxSetup({ cache: false });
        $(document).on("click", "a[data-modal]", function (e) {
            $('#modal-content').load(this.href, function () {
                $('#myModal').modal({
                    keyboard: true
                }, 'show');

                $("#myForm").submit(function (e) {

                    e.preventDefault();

                    var actionurl = e.currentTarget.action;

                    $.ajax({
                        url: actionurl,
                        type: 'POST',
                        dataType: 'json',
                        data: $("#myForm").serialize(),
                        success: function (result) {
                            $('#myModal').modal('hide');
                        }
                    });
                });

            });

            return false;

        });

    });



</script>